@using FrontendAccountManagement.Web.ViewModels.Shared
@{
    var backLinkModel = @Model as BackLinkModel;
}

<a href="@backLinkModel.PagePath" class="govuk-back-link" aria-label="@((backLinkModel.AriaLabelLocalizerName != null) ? @SharedLocalizer[@backLinkModel.AriaLabelLocalizerName] : null)">@SharedLocalizer["Custom.BackToHome"]</a>